extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Praesent efficitur orci a nulla sollicitudin, ut euismod nisl tristique. Sed velit nunc, placerat vitae leo et, ornare sagittis magna. Integer sed tempor tellus. 
                p Curabitur vestibulum diam in arcu rhoncus, pulvinar tincidunt augue fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ac nisl libero. Fusce et ex elit. Mauris varius id nibh vel malesuada. Suspendisse pulvinar malesuada felis, et eleifend massa. 
                p Curabitur bibendum eget justo in dictum. Donec ultrices vehicula sagittis. Phasellus aliquet ornare diam a venenatis. Mauris odio arcu, vehicula nec leo a, suscipit sagittis enim. Vivamus quis interdum nibh. Sed purus quam, condimentum sit amet est ultricies, viverra dictum lacus. Praesent tempus, orci vitae dictum efficitur, libero enim condimentum diam, sit amet posuere nibh tellus ac mi.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Imagen de Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed velit nunc, placerat vitae leo et, ornare sagittis magna. Integer sed tempor tellus. Praesent efficitur orci a nulla sollicitudin, ut euismod nisl tristique.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Imagen de Destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Sed velit nunc, placerat vitae leo et, ornare sagittis magna. Integer sed tempor tellus. Praesent efficitur orci a nulla sollicitudin, ut euismod nisl tristique.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Imagen de Precios", class="img-fluid mb-4")
                    h2.mb-4 Mejor precio
                    p Sed velit nunc, placerat vitae leo et, ornare sagittis magna. Integer sed tempor tellus. Praesent efficitur orci a nulla sollicitudin, ut euismod nisl tristique.